absl-py==1.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
altgraph==0.17.4
ansicon==1.89.0
asttokens==2.2.1
astunparse==1.6.3
async-timeout==5.0.1
attrs==22.2.0
audiosegment==0.23.0
Automat==22.10.0
autopep8==1.6.0
backcall==0.2.0
biopython==1.83
cachetools==5.3.0
certifi==2024.7.4
cffi==1.15.1
charset-normalizer==2.0.7
click==8.1.8
colorama==0.4.6
console==0.9911
constantly==15.1.0
contourpy==1.0.6
cssselect==1.2.0
cycler==0.11.0
decorator==5.1.1
dnspython==2.7.0
dnsrecon==0.10.1
docutils==0.20.1
et-xmlfile==1.1.0
exceptiongroup==1.1.2
executing==1.2.0
ezenv==0.92
filelock==3.10.0
fire==0.7.0
Flask==2.2.5
flatbuffers==23.1.21
fonttools==4.43.0
frozenlist==1.6.0
fsspec==2024.6.0
future==1.0.0
gast==0.4.0
geocoder==1.38.1
grpcio==1.53.2
h11==0.16.0
h5py==3.7.0
HTMLParser==0.0.2
hyperlink==21.0.0
idna==3.7
incremental==22.10.0
install==1.3.5
intel-openmp==2021.4.0
ipython==8.14.0
itemadapter==0.7.0
itemloaders==1.0.6
itsdangerous==2.0.1
jedi==0.18.2
Jinja2==3.1.6
jinxed==1.3.0
jmespath==1.0.1
joblib==1.4.2
jsonify==0.5
keras==3.9.0
libclang==18.1.1
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.0.1
mkl==2021.4.0
mpmath==1.3.0
multidict==6.4.3
netaddr==0.8.0
networkx==3.1
olefile==0.47
opencv-python-headless==4.10.0.84
openpyxl==3.0.9
opt-einsum==3.3.0
outcome==1.2.0
packaging==22.0
parsel==1.7.0
parso==0.8.3
pdf2docx==0.5.8
pefile==2023.2.7
progress==1.6
prompt-toolkit==3.0.38
propcache==0.3.1
Protego==0.2.1
protobuf==4.25.8
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
PyDispatcher==2.0.7
Pygments==2.15.1
pyinstaller==5.13.1
pyinstaller-hooks-contrib==2023.5
PyMuPDF==1.24.11
pynput==1.7.6
pyOpenSSL==23.0.0
pyparsing==3.2.3
pyperclip==1.8.2
pypiwin32==223
PySocks==1.7.1
python-dateutil==2.8.2
python-docx==1.2.0
python-dotenv==1.1.0
pytz==2021.3
pywin32==310
pywin32-ctypes==0.2.2
PyYAML==6.0
queuelib==1.6.2
ratelim==0.1.6
requests==2.32.4
requests-file==1.5.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.6.1
scipy==1.11.1
Scrapy==2.11.2
seaborn==0.13.2
selenium==4.10.0
service-identity==21.1.0
six==1.16.0
sniffio==1.3.0
soda==0.0.1
sodapy==2.2.0
sortedcontainers==2.4.0
soundfile==0.13.1
SpeechRecognition==3.10.4
stack-data==0.6.2
stone==3.3.1
storm==0.25
sympy==1.12
tbb==2021.12.0
termcolor==2.2.0
texttable==1.7.0
threadpoolctl==3.5.0
tldextract==3.4.0
toml==0.10.2
torchaudio==2.3.1
torchvision==0.18.1
tqdm==4.66.3
traitlets==5.9.0
trio==0.22.2
trio-websocket==0.10.3
Twisted==24.7.0rc1
twisted-iocpsupport==1.0.2
typing_extensions==4.12.1
urllib3==2.5.0
w3lib==2.1.1
wcwidth==0.2.6
webrtcvad==2.0.10
Werkzeug==3.1.3
wrapt==1.14.1
wsproto==1.2.0
yarl==1.20.0
zope.interface==6.0
